table tr{
    text-align: center;
}
body{
    background-image: url("bg.gif");
    background-repeat: repeat-y;
    background-position: center;
    background-color: rgb(234,234,234);
}
#wrapper{
    width: 780px;
    /*height: 800px;*/
    margin: 0 auto;
    text-align: center;
}
#LivTitolo{
    background-color: #EEEEEE;
    margin: 20px;
    align: center;
}
#LivTitolo h1{
    margin: 0px;
    font-size: 32pt;
    font-weight: 700;
    text-align: center;
}